<div class="row mt-3">
    <div class="col text-center">
        <img src="img/Decki.png" class="img-thumbnail rounded-circle">
        <h1 class="display-4">Decki Herdiawan Soepandi</h1>
        <p class="lead">Full Stack Web Developer | Movie Enthusiast</p>
    </div>
</div>